@import "./_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&family=Montserrat:wght@500;600;700&display=swap');

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-searches{
    margin-top: 50px;
    &>h1{
        font-weight: map-get($map: $font-weights, $key: bold);
        font-size: 36px;
        margin-bottom: 50px;
    }
    .top-search-list-item{
        @include flexCenter();
        width: 100%;
        .row{
            width: 100%;
        }
        .col-4{
            @include flexCenter();
        }
        img{
            width: 170px;
            height: 170px;
            border-radius: 24px;
        }
    }
}