$heroHeight: 500px;
$backgroundColor: rgba(227, 225, 220, 1);
$heroTextColor: #FFF;
$primaryTextColor: rgba(41, 21, 7, 1);
$mostSearchedbg: rgba(227, 225, 220, 1);
$font-weights: (
    "regular" : 500,
    "semibold" : 600,
    "bold" : 700
)