@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@700&family=Montserrat:wght@500;600;700&display=swap');
@import "./_variables.scss";
@import "./hero";
@import "./mostSearched";
@import "./benefits";
@import "./footer";
@import "./details";
@import "./topsearches";


@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','sans-serif';
}

.App{
    min-height: 100vh;
    position: relative;
}
